## **Código de Geração do Arquivo de Submissão**


#### Objetivo -> O intuito desse código é fazer as devidas transformações no arquivo CSV gerado pelo modelo para deixar no padrão final que deverá ser submetido pelo time no site (http://thundera.budokai:5455/).


#### OBS: O arquivo de submissão deve conter as seguintes colunas obrigatórias: 

                                      codigo_ibge, 2018, 2019, 2020
      
   #### Sendo que teremos um total de 20 códigos do IBGE obrigatórios que deverão estar contidos no arquivo CSV, sendo eles:
  
                                            4102000
                                            4104303
                                            4104428
                                            4104808
                                            4104907
                                            4109401
                                            4113205
                                            4113700
                                            4113734
                                            4114005
                                            4114401
                                            4117701
                                            4117909
                                            4119608
                                            4119905
                                            4127007
                                            4127403
                                            4127502
                                            4127700
                                            4128005  
  
 #### OBS: Qualquer dúvida, favor entrar em contato com o staff do Budokai.

In [12]:
import pandas as pd

In [13]:
# Leitura do arquivo que tem os valores previstos por ano (2018,2019 e 2020) do seu modelo, junto com os códigos do IBGE acima
# Altere o nome do arquivo abaixo:

file_submissao = pd.read_csv('submission_test_REDE.csv',sep=",", header=0)

In [14]:
# Conferindo campos obrigatórios do arquivo de submissão

if set(['codigo_ibge','2018','2019','2020']).issubset(file_submissao.columns):
    print('Colunas corretas!')
else:
    print('As colunas codigo_ibge, 2018, 2019, 2020 são obrigatórias.')

Colunas corretas!

In [15]:
# Conferindo códigos do IBGE obrigatórios do arquivo de submissão

df = pd.DataFrame({'codigos': [4102000,4104303,4104428,4104808,4104907,4109401,4113205,4113700,4113734,4114005,4114401,4117701,4117909,4119608,4119905,4127007,4127403,4127502,4127700,4128005
]})
check = df['codigos'].isin(file_submissao['codigo_ibge'])
false_count = (~check).sum()

if false_count != 0:
    print('Existem ',false_count,'códigos errados na coluna codigo_ibge. Favor revisar os códigos na descrição acima.')
else:
    print('Arquivo conferido com sucesso!')

Arquivo conferido com sucesso!

In [16]:
file_submissao

    Unnamed: 0  codigo_ibge       2018       2019       2020
0            0      4102000  3941.2140  4129.0903  4347.1780
1            1      4104303  3923.5334  4122.9410  4329.0360
2            2      4104428  4180.5150  4369.2837  4600.1235
3            3      4104808  4183.4960  4395.2350  4613.7124
4            4      4104907  4242.9614  4454.1290  4676.7124
5            5      4109401  4250.4260  4442.5840  4676.9634
6            6      4113205  3739.5232  3928.5579  4125.0580
7            7      4113700  3324.1490  3489.6782  3658.7036
8            8      4113734  3731.0470  3925.4226  4117.0470
9            9      4114005  3855.2940  4052.4302  4252.4500
10          10      4114401  4278.9420  4490.5730  4712.4890
11          11      4117701  3996.6575  4193.2314  4402.8975
12          12      4117909  3980.3538  4166.0150  4385.1763
13          13      4119608  3517.5615  3693.5408  3873.6396
14          14      4119905  4219.5166  4435.7544  4652.1830
15          15      4127007  3950.7048  4147.3760  4349.2910
16          16      4127403  3710.2405  3891.7090  4088.8044
17          17      4127502  4206.1235  4412.9990  4626.0690
18          18      4127700  4071.0000  4273.7160  4483.9870
19          19      4128005  4085.6707  4285.4497  4490.2010

In [17]:
#Transformação e Ordenação temporal da tabela
file_sub_unpivoted = file_submissao.melt(id_vars=['codigo_ibge'], var_name='Ano', value_name='Valor_Previsto')

In [18]:
file_sub_unpivoted['codigo_ibge']

0     4102000
1     4104303
2     4104428
3     4104808
4     4104907
       ...
75    4127007
76    4127403
77    4127502
78    4127700
79    4128005
Name: codigo_ibge, Length: 80, dtype: int64

In [19]:
# Excluir coluna de tempo
del file_sub_unpivoted["Ano"]

In [20]:
file_sub_unpivoted = file_sub_unpivoted.drop(file_sub_unpivoted.index[:20]).reset_index().drop(columns=['index'])

In [21]:
#Geração do arquivo que será submetido
#Altere o nome do arquivo CSV de saída
file_sub_unpivoted.to_csv("submission_test_REDE.csv", index=False)